<div class="page">
    <img class="head" src="./../assets/images/head.jpeg" width="70%">
    <div class="body">
      <span class="name">{{contratante}},</span>
      <p class="text">En <b class="logo">Global RedSalud</b> premiamos tu preferencia y confianza, por
        ello, por la compra de tu plan de salud cuentas con el siguiente
        servicio gratuito: </p>
      <p class="text"><b class="subtitle">Campaña: </b>{{plan}}</p>
      <p class="text"><b class="subtitle">Descripción de la oferta del mes: </b>{{campa1}}</p>
      <p class="text"><b class="subtitle">Validez de la campaña: </b>Desde el día siguiente de la afiliación
        hasta 30 días posteriores.</p>
      <div class="card">
        <div class="content-card">
          <img class="head" src="./../assets/images/user.png" width="80%" height="80%">
          <div>
            <span class="textDiv">Recuerda que este servicio es brindado por <b>Health Care Administration Red Salud S.A.C.</b> y para su uso,
            deberás comunicarte al <b>WhatsApp 924843520 o a la central telefónica (01)445-3019 opción 2.</b><br>
            <div class="center"><img src="./../assets/images/logo.png" width="40%" height="40%"></div>
            </span>
          </div>
        </div>
      </div>
      <b class="subtitle">Condiciones de la campaña</b>
      <p class="textHead">{{campa2}}</p>
    </div>
    <img class="foot" src="./../assets/images/footpage.jpeg" width="70%">
</div>