.page{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
}
.body{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name{
  margin: 30px 0px 10px 0px;
  color: #2d7602;
  font-weight: bold;
  font-size: 25px;
}
.textHead{
  font-size: 20px;
  color: #636365;
  padding-bottom: 20px;
}
.text{
  font-size: 20px;
  color: #636365;
  border-bottom: dashed #a8d4ff;
  padding-bottom: 20px;
}
.textDiv{
  font-size: 15px;
  color: #2271be;
}
.logo{
  font-size: 20px !important;
  color: #1aa483 !important;
  font-weight: bold;
}
.subtitle{
  font-size: 20px;
  color: #2271be;
}
.card{
  display: flex;
  justify-content: space-around; 
  margin: 40px;
}
.content-card{
  display: flex;
  background-color: #e6efff;
  border-radius: 10px;
  width: 45%;
  padding: 15px;
}
.center{
  display: flex;
  justify-content: space-around;
}
.progress{
  display: flex;
  flex-direction: column;
  margin: 15% 0% 0% 0%;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .text{
    font-size: 15px;
    color: #636365;
    border-bottom: dashed #a8d4ff;
    padding-bottom: 12px;
  }
  .logo{
    font-size: 15px !important;
    color: #1aa483 !important;
    font-weight: bold;
  }
  .subtitle{
    font-size: 15px;
    color: #2271be;
  }
  .center{
    display: none;
  }
  .card{
    display: flex;
    justify-content: space-around; 
    margin: 40px;
  }
  .content-card{
    display: flex;
    flex-direction: column;
    background-color: #e6efff;
    border-radius: 10px;
    width: 80%;
    padding: 15px;
  }
  .progress{
    display: flex;
    flex-direction: column;
    margin: 50% 0% 0% 0%;
    align-items: center;
  }
}